body{
text-align:center;
margin-top:200px;
font-family:Arial;
transition:0.5s;
}

h1{
margin-bottom:20px;
}

button{
padding:10px 20px;
margin:5px;
border:none;
border-radius:5px;
cursor:pointer;
font-size:16px;
}



